/*a {

    font-size: 15px;
    font-weight:lighter;
    color: #161515;
    
    } */
    
    body { background-color:#ffc3bb;}
    .carousel-inner {
    
        max-height: 39rem;
        display: flex;
        justify-content: center;
        padding: 100px;
    }
    
    /* HERMOSEANDO EL CARRITO */
    
    .cart{
    
        width: 40px;
        height: 40px;
        stroke: #000;
        cursor: pointer;
        
    }
    
    .container-icon{
    
        position: relative;
        
    }
    
    .count-products{
    
        position: absolute;
        top: 55%;
        right: 1;
    
        background-color: #000;
        color: #fff;
        width: 25px;
        height: 25px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
    }
    
    
    #contador-productos{
    
        font-size: 10px;
    
    }
    
    
    .container-cart-products{
    
        position: absolute;
        top: 50px;
        right: 0;
    
        background-color: #fff;
        width: 400px;
        z-index: 1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        border-radius: 10px;
    }
    
    .cart-product{
    
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: space-between;
    
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    
    }
    
    .info-cart-product{
    
        display: flex;
        justify-content: space-between;
        flex: 0.8;
       
    }
    
    .titulo-producto-carrito{
    
            font-size: 20px;
    
    }
    
    .precio-producto-carrito{
    
            font-weight: 700;
            font-size: 20px;
            margin-left: 10px;
    
    
    }
    
    .cantidad-producto-carrito{
    
        font-weight: 400;
        font-size: 20px;
    
    }
    
    
    .cart-total{
    
    
        display: flex;
        justify-content: center;
        padding: 20px 0;
        gap: 20px;
        align-items: center;
    }
    
    
    .cart-total h3{
    
    
        font-size: 20px;
        font-weight: 700;
    }
    
    .total-pagar{
    
    
        font-size: 20px;
        font-weight: 900;
    }
    
    
    .hidden-cart{
    
        display: none;
    }
    
    
    
    .icon-close{
    
        width: 25px;
        height: 25px;
    }
    
    .icon-close:hover{
    
    
        stroke: red;
        cursor: pointer;
    }
    
    
    img{
    
        max-width: 100%;
    }
    
    /* HHERMOSEANDO LAS 3 FOTOS QUE ESTAN AL INICIO */
    
    
    .container-items{
    
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
        
        padding: 100px;
    }
    
    .item{
    
    border-radius: 10px;
    
    
    }
    
    .item:hover{
    
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
    
    .info-product{
    
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    }
    
    .price{
    
        font-size: 18px;
        font-weight: 900;
    }
    
    .info-product button{
    
        border: none;
        background: none;
        background-color: #000;
        color: #fff;
        padding: 15px 10px;
        cursor: pointer;
    }
    
    
    
    .item img{
    
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all .5s;
    }
    
    .item figure{
    
        overflow: hidden;
    }
    
    .item:hover img{
    
    
        transform: scale(1.2);
    }
    
    
    /* TITULO LTL */
    
    
    .todo-ltl{
    
        padding: 50px;
    }
  
   
    #menu{
  
       background-color: #ef9aa0;
       font-size: 20px;
       font-weight:bolder;
       color: #161515;
      ;
       
    }
   
    #ultimoltl{ background-color: #ffc3bb;
        padding: 50px;
        text-align: center;
        
        }
  
    #imagenes{background-color: #f79091;
        padding: 5px;}
    
    #der {background-color: #ffc3bb;
        text-align: center;
        text-decoration:line-through;
        font-style: italic;}

    #tituloropa { text-align: center;
         font-style: italic;
        }
    
    #navegacion {text-align: right;
        font-style: right;
        font-size:small;;
        
        }
    a:hover {color: #fff;
       
        }
    .nav-link {color:#000;
        }